<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Most Popular Secrets...</h1>
    <a href="/secrets">Back</a>
    {% for sec in secrets %}
    <p>{{sec.content}}. --- ({{sec.created_at}}) --- {{sec.likes.count}} likes ---
     {% if user in sec.likes.all %}
     You liked this.
     {% elif  sec.user.id != request.session.uid%}
     <a href="/postlike/{{sec.id}}">Like</a>
     {% endif %}
    </p>
    {% if sec.user.id == request.session.uid %}
    You posted this. <a href="/delete/{{sec.id}}">Delete</a>
    {% endif %}
    {% endfor %}
  </body>
</html>
