<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h1>Hello, {{user.first_name}}</h1>
    <a href="/logout">Log off</a>
    <form class="" action="/postsecret" method="post">
      {% csrf_token %}
      <textarea name="secret" rows="4" cols="60" placeholder="Your secret here..."></textarea> <br><br>
      <input type="submit" name="submit" value="Post">
      <a href="/mostpop">Most Popular Secrets</a>
    </form>
    <h1>Recent Secrets</h1>
    {% for sec in secrets %}
    <p>{{sec.content}}. --- ({{sec.created_at|timesince}} ago) --- {{sec.likes.count}} likes ---
     {% if user in sec.likes.all %}
     You liked this.
     {% elif  sec.user.id != request.session.uid%}
     <a href="/like/{{sec.id}}">Like</a>
     {% endif %}
    </p>
    {% if sec.user.id == request.session.uid %}
    You posted this. <a href="/delete/{{sec.id}}">Delete</a>
    {% endif %}
    {% endfor %}
  </body>
</html>
